.App-header {
  background-color: #287cca;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center; }
  .App-header h1 {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.App-content {
  padding-top: 10px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.Date-form {
  text-align: center; }
